extends layout
block content
  .container
    .row
      nav.navbar.navbar-default.filters
        .container
          .navbar-header
            a.navbar-brand Фильтры
          button(type="button").btn.btn-primary.navbar-btn.filters__button_resetAll Сбросить все
          button(type="button",data-param="date",data-toggle="modal",data-target="#filters__modal_date").btn.btn-default.navbar-btn.filters__button Год
          button(type="button",data-param="country",data-toggle="modal",data-target="#filters__modal_country").btn.btn-default.navbar-btn.filters__button Страна
          button(type="button",data-param="place",data-toggle="modal",data-target="#filters__modal_place").btn.btn-default.navbar-btn.filters__button Город
          button(type="button",data-param="org",data-toggle="modal",data-target="#filters__modal_org").btn.btn-default.navbar-btn.filters__button Организация
    .row
      .panel.panel-default
        .panel-heading Список экспонатов
        .panel-body.table__wrapper
          table.table.table-hover.artefacts
            thead
              th Название
              th Место
              th Дата
              th Организация
            tbody
        .panel-footer.table__pagination

  .modal.fade#filters__modal_date(tabindex="-1",role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h4.modal-title Год
        .modal-body
          p Здесь будет фильтр
        .modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") Закрыть
          button.btn.btn-seconday.filter__modal__reset(type="button",data-param="date") Сбросить
          button.btn.btn-primary.filter__modal__apply(type="button",data-param="date") Применить

  .modal.fade#filters__modal_country(tabindex="-1",role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h4.modal-title Страна
        .modal-body
          p Здесь будет фильтр
        .modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") Закрыть
          button.btn.btn-seconday.filter__modal__reset(type="button",data-param="country") Сбросить
          button.btn.btn-primary.filter__modal__apply(type="button",data-param="country") Применить

  .modal.fade#filters__modal_place(tabindex="-1",role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h4.modal-title Город
        .modal-body
          p Здесь будет фильтр
        .modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") Закрыть
          button.btn.btn-seconday.filter__modal__reset(type="button",data-param="place") Сбросить
          button.btn.btn-primary.filter__modal__apply(type="button",data-param="place") Применить

  .modal.fade#filters__modal_org(tabindex="-1",role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h4.modal-title Организация
        .modal-body
          p Здесь будет фильтр
        .modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") Закрыть
          button.btn.btn-seconday.filter__modal__reset(type="button",data-param="org") Сбросить
          button.btn.btn-primary.filter__modal__apply(type="button",data-param="org") Применить

  .modal.fade#artefacts__modal_info(tabindex="-1",role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          span.artefact__name.modal-title
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body.artefact__info
