doctype
html
  head
    title Museum Test Task
    meta(charset='utf-8')
    link(rel='stylesheet',href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet',href='https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet',href='/css/style.css')
  body
    block content
      
    script(src='lib/jquery-2.4.4.min.js')
    script(src='lib/bootstrap/js/bootstrap.min.js')
    script(src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js')
    script(src='js/script.js')