.filters__button,
.filters__button_resetAll {
  margin-right: 10px;
}

.filters__button_active,
.table__pagination__button_active {
  background-color: #ebebeb;
}

.table__wrapper {
  min-height: 460px;
}

.artefact__name {
  font-weight: 600;
}